.display-inline{
    display:inline-block;
}
.float-right{
    float: right;
}

.align-middle{
    vertical-align:middle;
}

.prm{
    padding-right:1rem;
}

.plm{
    padding-left:1rem;
}
.absolute{
    position:absolute;
}
 
.bottom{bottom:0;}

.relative{
    position:relative;
}